@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

body {
    background-color: #323232;
    color: whitesmoke;
    font-family: "Merriweather", serif;
}

.row {
    padding: 5px 0;
}

.gutter {
    padding: 0;
}

.dropdown-container {
    margin-top: 0;
}
.dropdown-container > select {
    width: 100%;
}

#viz-container {
    margin: 0;
    padding: 0;
}

/* .viz-element {
    margin: 0;
    padding: 0;
} */

.counties {
    fill: #121212;
    stroke: #2c2c2c;
    stroke-width: 2px;
}

.gratLines {
    fill: none;
    stroke: whitesmoke;
    stroke-opacity: 0.35;
    stroke-width: 0.25px;
}

.tracts {
    stroke: #000;
    stroke-width: 0;
    stroke-linecap: round;
}

.map {
    width: 100%;
}

.chart {
    width: 100%;
}

.chartTitle {
    font-family: "Merriweather", serif;
    font-size: 1.5em;
    font-weight: bold;
    fill: whitesmoke;
}
.chartSubtitle {
    font-family: "Merriweather", serif;
    font-size: 1em;
    font-weight: bold;
    fill: whitesmoke;
}

.chartBackground {
    fill:#121212;
}
.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: whitesmoke;
}

.numbers {
    font-size: 0.5em;
    fill: #000;
}

option {
    font-weight: normal;
}

.infolabel {
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}